---
// Component Imports
import MainBody from '../layouts/main.astro';
---

<MainBody 
  title="Meher Chaitanya - Home" 
  description="Meher Chaitanya: Cloud Architect, Web developer..."
  imageUrl="/assets/og-seo-resume.jpg"
>
  <main class="font-sans flex flex-col justify-center w-full px-4 tbl:px-14 lpt:px-0 max-w-none lpt:w-3/4 lpt-lg:w-4/6 mx-auto min-h-[80vh]">
      <div class="flex-1 flex flex-col justify-center items-center">
        <h1 class="px-4 sm:px-auto text-4xl text-center sm:text-5xl xl:text-7xl mb-8 font-medium text-light-headings dark:text-dark-headings">
          This Page Doesn't Exist
        </h1>
          <a href={import.meta.env.BASE_URL} class="front-readable text-lg underline decoration-light-primary underline-offset-2 dark:decoration-dark-primary decoration-2 xl:text-2xl dark:text-white">Go to Home
          </a>
      </div>
  </main>
</MainBody>
<!-- <MainBody title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
  <div class="flex flex-col min-h-screen">
      <div class="flex-1 pt-48 px-16">
        <div class="flex-1 flex flex-col justify-center items-center">
          <h1 class="font-roboto-flex px-4 sm:px-auto text-4xl text-center sm:text-5xl xl:text-7xl mb-8 font-medium text-matty-900 dark:text-matty-50">
            This Page Doesn't Exist
          </h1>
          <ul>
            <li> <a href={import.meta.env.BASE_URL} class="front-readable text-lg smc-underline-blue-500 dark:decoration-blue-300 decoration-2 xl:text-2xl dark:text-white/70">Go to Home</a> </li>
          </ul>
        </div>
      </div>
  </div> -->