---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.svelte';
import Nav from '../components/Nav.svelte';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<nav />
		<footer />
	</body>
</html>
