---
// Component Imports
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
import Footer from '../components/common/Footer.astro';
---

<html lang="en">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="bg-[url('/assets/background.svg')] bg-no-repeat bg-fixed bg-cover text-xl  dark:bg-matty-900 text-matty-600 overflow-x-hidden">
  <div class="z-[100] fixed w-screen text-matty-900 ">
    <Nav />
  </div>
  <div class="flex flex-col min-h-screen">
      <div class="flex-1 pt-48 px-16">
        <div class="flex-1 flex flex-col justify-center items-center">
          <h1 class="font-roboto-flex px-4 sm:px-auto text-4xl text-center sm:text-5xl xl:text-7xl mb-8 font-medium text-matty-900 dark:text-matty-50">
            This Page Doesn't Exist
          </h1>
          <ul>
            <li> <a href={import.meta.env.BASE_URL} class="front-readable text-lg smc-underline-blue-500 dark:decoration-blue-300 decoration-2 xl:text-2xl dark:text-white/70">Go to Home</a> </li>
          </ul>
        </div>
      </div>
      <div>
          <Footer />
      </div>
  </div>
</body>
</html>