---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
    <main class="prose max-w-4xl pt-32 min-h-[80vh] font-sans text-[#17191C] px-4 mbl-lg:px-10 tbl:px-10 lpt-lg:px-20 tbl:mt-0">
        <h1>
            About Me
        </h1>
        <p>
            I am a Intern@<a class="hover:bg-[#005e60] hover:text-white transition-all" href="https://gevernova.com">GE Vernova</a> 
            working with Advanced Data and Machine Learning oriented algorithms in 
            the mission of digitizing the grid.
        </p>
        <p>
            I am also final year Integrated Masters student in 
            <a class="hover:bg-[#b20000] hover:text-white transition-all" href="https://gevernova.com">SCIS@UoH</a>.
        </p>
        <p>
            My interests range in various branches of computer science like 
            Software development, Cloud Computing, DevOps, Machine Learning and IoT.

            The wide range of interests makes me a generalist who is more intersted 
            in the idea of problem solving with computers rather than fixating on a 
            single technology, tool or a concept.
        </p>
        <p>
            As my hobby, I am intersted in exploring new technologies which provide the 
            state of the art solutions to the existing problems and stay up to date with
            the industry.
        </p>
        <p>
            I am also AWS Certified Solutions Architect (SAA-CO2) and Redhat Certified 
            Kubernetes and OpenShift Specalist
            (<a href="https://www.credly.com/badges/e654870d-b9e5-4a5d-8506-8b6d6001a64e/public_url" class="hover:bg-[#ef0000] hover:text-white transition-all">DO180</a>).
        </p>
    </main>
</BaseLayout>