---
import MainHead from '../components/common/MainHead.astro';
import Footer from '../components/common/Footer.astro';
import Nav from '../components/common/Nav.astro';
import Hash from '../components/common/Hash.astro';
import BlogPreview from '../components/blogs/BlogPreview.astro';

interface MarkdownFrontmatter {
	publishDate: number;
}

let blogs = (await Astro.glob<MarkdownFrontmatter>('./blog/**/*.md'))
	.filter(({ frontmatter }) => !!frontmatter.publishDate)
	.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
    // console.log(pagination(blogs, {pageSize: 10}));
    
---

<html lang="en">
	<head>
		<MainHead title="Blogs @smc181002" description="Learn about Jenine White's most recent projects" />
	</head>

	<body class="dark:bg-zinc-800">
        <div class="z-[100] fixed w-screen ">
            <Nav active="/blogs"/>
        </div>
        <div class="flex flex-col min-h-screen">
            <div class="flex-1 pt-28 px-16">
                <h2 class="scroll-mt-24 group flex whitespace-pre-wrap text-2xl sm:text-3xl font-['Poppins'] mb-6" id="latest-blogs">
                    <span class="mr-2 dark:text-white/90">Latest Blogs</span>
                    <Hash href="#latest-blogs"/>
                </h2>
                <div class="grid grid-cols-4 gap-32">
                    {blogs.map((blog) => <BlogPreview blog={blog} />)}
                </div>
            </div>
            <div>
                <Footer />
            </div>
        </div>
	</body>
</html>
