---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
---

<html lang="en" class="scroll-smooth scroll-pt-24">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="dark:bg-matty-900 selection:bg-blue-500 dark:selection:bg-blue-400 dark:selection:text-matty-900 selection:text-blue-50 bg-no-repeat bg-fixed bg-cover text-xl font-sans text-matty-800 overflow-x-hidden">
  <div class="z-[100] fixed w-screen ">
    <Nav />
  </div>
  <!-- <div class="w-screen min-h-screen"> -->
    <div class="prose dark:prose-invert prose-custom font-sans mx-auto flex-1 flex flex-col pt-24 place-items-center">
        <a href="mailto:meherchaitanya18802@gmail.com">Mail: meherchaitanya18802@gmail.com</a>
        <a href="https://www.linkedin.com/in/meher-chaitanya-341567193/" target="_blank">Linkedin</a>
        <a href="https://twitter.com/smc181002" target="_blank">Twitter - @smc181002</a>
        <a href="http://github.com/smc181002" target="_blank">Github - smc181002</a>
        <a href="http://discordapp.com/users/622000670974935060" target="_blank">Discord - smc181002#7325</a>
    </div>
</body>
</html>
