---
import MainBody from '../layouts/main.astro';

let contactInfo = [
  {
    text: "GMail", 
    link: "mailto:meherchaitanya18802@gmail.com",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://www.linkedin.com/in/sri-meher-chaitanya-varma-nadimpalli-341567193/",
    text: "LinkedIn",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://twitter.com/smc181002",
    text: "Twitter",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://github.com/smc181002",
    text: "GitHub",
    hovColor: "#c2e7ff",
  },
  {
    link: "http://discordapp.com/users/622000670974935060",
    text: "Discord",
    hovColor: "#c2e7ff",
  },
]

---

<MainBody title="Meher Chaitanya - Contact" description="Meher Chaitanya: Cloud Architect, Web developer..." >
    <main class="pt-32 pb-12 lpt:px-12 prose dark:prose-invert prose-custom min-h-[80vh]">
      <h1 class="font-medium font-sans">Want to talk to me?</h1>
      <form
        action="https://formspree.io/f/mwkdpwpz"
        method="POST"
        class="flex flex-col gap-y-3"
      >
        <label class="flex flex-col gap-y-2">
          Email*
          <input autocomplete="off" type="email" name="email" placeholder="Enter your email here*" class="p-4 bg-transparent border border-neutral-70 focus:border-neutral-20 focus:outline-none dark:border-neutral-40 dark:focus:border-neutral-95">
        </label>
        <label class="flex flex-col gap-y-2">
          Message
          <textarea name="message" placeholder="Leave a message to me" class="p-4 bg-transparent border border-neutral-70 focus:border-neutral-20 focus:outline-none dark:border-neutral-40 dark:focus:border-neutral-95" rows="5"></textarea>
        </label>
        <button type="submit" class="flex gap-x-2 items-center w-fit mt-4 bg-light-primary-10 text-light-primary-95 dark:text-d-pr-10 dark:bg-d-pr-98 text-center px-8 py-4">
          Send <span class="material-symbols-rounded">send</span>
        </button>
      </form>
    </main>
</MainBody>

      <!-- {contactInfo.map(({text, link, hovColor}) => (
        <a href={link} target="_blank" class={`w-full flex justify-center bg-white 
          dark:bg-matty-900 text-matty-900 dark:text-matty-50 border-[.16rem] 
          dark:border-white border-matty-900 px-6 py-4 lpt-lg:px-8 lpt-lg:py-4 
          cursor-pointer drop-shadow-[.2rem_.2rem_rgba(0,0,0,1)] 
          dark:drop-shadow-[.2rem_.2rem_rgba(256,256,256,1)] dark:hover:drop-shadow-none 
          hover:drop-shadow-none hover:rounded-lg transition-all text-base`}
        >
        {text}
        </a>
      ))} -->
        <!-- <a href="https://twitter.com/smc181002" target="_blank">Twitter - @smc181002</a>
        <a href="http://github.com/smc181002" target="_blank">Github - smc181002</a>
        <a href="http://discordapp.com/users/622000670974935060" target="_blank">Discord - smc181002#7325</a> -->
