---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';

let contactInfo = [
  {
    text: "GMail", 
    link: "mailto:meherchaitanya18802@gmail.com",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://www.linkedin.com/in/sri-meher-chaitanya-varma-nadimpalli-341567193/",
    text: "LinkedIn",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://twitter.com/smc181002",
    text: "Twitter",
    hovColor: "#c2e7ff",
  },
  {
    link: "https://github.com/smc181002",
    text: "GitHub",
    hovColor: "#c2e7ff",
  },
  {
    link: "http://discordapp.com/users/622000670974935060",
    text: "Discord",
    hovColor: "#c2e7ff",
  },
]

---

<html lang="en" class="scroll-smooth scroll-pt-24">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="dark:bg-matty-900 selection:bg-blue-500 dark:selection:bg-blue-400 dark:selection:text-matty-900 selection:text-blue-50 bg-no-repeat bg-fixed bg-cover text-xl font-roboto-flex text-matty-800 overflow-x-hidden">
  <div class="z-[100] fixed w-screen ">
    <Nav active="contact"/>
  </div>
  <!-- <div class="w-screen min-h-screen"> -->
    <div class="px-8 prose gap-x-6 gap-y-8 font-roboto-flex mx-auto flex-1 grid lpt:grid-cols-3 tbl:grid-cols-2 grid-cols-1 justify-center pt-24 place-items-center min-w-14">
      {contactInfo.map(({text, link, hovColor}) => (
        <a href={link} target="_blank" class={`w-full flex justify-center bg-white 
          dark:bg-matty-900 text-matty-900 dark:text-matty-50 border-[.16rem] 
          dark:border-white border-matty-900 px-6 py-4 lpt-lg:px-8 lpt-lg:py-4 
          cursor-pointer drop-shadow-[.2rem_.2rem_rgba(0,0,0,1)] 
          dark:drop-shadow-[.2rem_.2rem_rgba(256,256,256,1)] dark:hover:drop-shadow-none 
          hover:drop-shadow-none hover:rounded-lg transition-all text-base`}
        >
        {text}
        </a>
      ))}
        <!-- <a href="https://twitter.com/smc181002" target="_blank">Twitter - @smc181002</a>
        <a href="http://github.com/smc181002" target="_blank">Github - smc181002</a>
        <a href="http://discordapp.com/users/622000670974935060" target="_blank">Discord - smc181002#7325</a> -->
    </div>
</body>
</html>
