---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
import Hero from '../components/home/Hero.astro';
import About from '../components/home/About.astro';
import LatestBlog from '../components/home/LatestBlog.astro';
import Footer from '../components/common/Footer.astro';
---

<html lang="en" class="scroll-smooth">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="bg-[url('/assets/background.svg')] dark:bg-zinc-800 selection:bg-blue-400 selection:text-blue-50 bg-no-repeat bg-fixed bg-cover text-xl font-['Inter'] text-zinc-600 overflow-x-hidden">
  <div class="z-[100] fixed w-screen ">
    <Nav active="/"/>
  </div>
  <div class="flex flex-col w-screen min-h-screen">
    <div class="flex-1">
      <Hero />
      <About />
      <LatestBlog />
    </div>
    <div>
      <Footer />
    </div>
  </div>
</body>
</html>