---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button.svelte';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.svelte';
import PortfolioPreview from '../components/PortfolioPreview.svelte';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];
---

<html lang="en">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="text-xl font-['Inter'] text-zinc-600 overflow-x-hidden">
  <div class="bg-[url('/assets/background.svg')] z-[-10] bg-no-repeat bg-fixed bg-cover absolute w-screen"> </div>
  <div class="fixed w-screen text-zinc-500 ">
    <Nav active="/"/>
  </div>
  <div class="flex flex-col items-center justify-center h-screen w-screen">
    <div>
      <h1 class="text-7xl my-8">Hi, I am <span class="underline decoration-24 decoration-indigo-500 underline-offset-2 ml-4">Meher Chaitanya</span></h1>
      <div class="my-2">
      <span class="underline decoration-2 decoration-indigo-500 underline-offset-2">
        Cloud Architect
      </span>
      and
      <span class="underline decoration-2 decoration-indigo-500 underline-offset-2">
        Web Developer
      </span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <h2 class="text-7xl mb-7">Projects</h2>
    <PortfolioPreview project={featuredProject}/>
  </div>
</body>
</html>

