---
import MainBody from '../layouts/main.astro';
import LatestBlog from '../components/home/LatestBlog.astro';
import Graphic from '../components/icons/Graphic.astro';
---
<MainBody 
    title="Meher Chaitanya - Resume" 
    description="Meher Chaitanya: Cloud Architect, Web developer"
    imageUrl="/assets/og-seo-resume.jpg"
>
  <main class="pt-16 font-sans">
    <!-- <img class="w-full" src={Graphic} alt="graphic"/> -->
    <div class="w-screen relative">
      <Graphic/>
      <div class="absolute bottom-0 w-full h-10 bg-gradient-to-t from-30% from-light-bg dark:from-dark-bg">
      </div>
    </div>
    <div class="px-10 py-8 text-clip max-w-6xl">
      <h1 class="text-6xl my-4 text-light-headings dark:text-dark-headings font-semibold ">Design. Develop. Deploy</h1>
      <p class="text-normal text-light-headings dark:text-dark-headings">
        Skilled in the 
        <strong class="text-light-primary dark:text-dark-primary">
          3Ds
        </strong> 
        of mordern software development</p>
      <div class="text-normal text-light-text dark:text-dark-text my-4 flex flex-col gap-y-2">
        <p>
          Namaste 🙏 . I am <strong>“Sri Meher Chaitanya Varma Nadimpalli”</strong>. 
          Yep, a long name....Well, you can call me either 
          <span class="text-light-primary font-medium">Meher </span> 
          or 
          <span class="text-light-primary font-medium"> Chaitanya</span> .
        </p>
        <p>
          If you are curious about what I do?
        </p>
      </div>
      <div class="flex gap-x-4 items-center">
        <a href="/" class="px-8 py-4 bg-light-primary text-light-primary-95 dark:bg-dark-primary dark:text-d-pr-95">Check my work</a>
        <a href="/">or check out by <strong>blogs</strong> below</a>
      </div>
    </div>
    <LatestBlog/>
  </main>
</MainBody>