---
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';
import Hero from '../components/home/Hero.astro';
import CloseBrace from '../components/icons/CloseBrace.astro'
import OpenBrace from '../components/icons/OpenBrace.astro'
import Footer from '../components/common/Footer.astro';
---

<html lang="en" class="scroll-smooth">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="dark:bg-matty-900 selection:bg-blue-500 dark:selection:bg-blue-400 dark:selection:text-matty-900 selection:text-blue-50 bg-no-repeat bg-fixed bg-cover text-xl font-['Inter'] text-matty-600 overflow-x-hidden">
  <div class="z-[100] fixed w-screen ">
    <Nav />
  </div>
  <div class="absolute bottom-40 left-24">
    <OpenBrace />
  </div>
  <div class="absolute bottom-10 right-24">
    <CloseBrace />
  </div>
  <div class="flex flex-col w-screen min-h-screen">
    <div class="flex-1 mt-30">
      <Hero />
      <!-- <About />
      <LatestBlog /> -->
    </div>
    <!-- <div>
      <Footer />
    </div> -->
  </div>
</body>
</html>
