---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Button from '../components/Button.svelte';
import Nav from '../components/Nav.astro';
/* import Footer from '../components/Footer.svelte'; */
import Footer from '../components/Footer.astro';
import PortfolioPreview from '../components/PortfolioPreview.svelte';

// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];
---

<html lang="en">
<head>
  <MainHead title="Meher Chaitanya - Home" description="Meher Chaitanya: Cloud Architect, Web developer..." />
</head>
<body class="bg-[url('/assets/background.svg')] bg-no-repeat bg-fixed bg-cover text-xl font-['Inter'] text-zinc-600 overflow-x-hidden">
  <div class="fixed w-screen text-zinc-500 ">
    <Nav active="/"/>
  </div>
  <div class="flex flex-col items-center justify-center h-screen w-screen">
    <div>
      <h1 class="sm:mx-auto mx-8 my-6 text-4xl sm:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl font-['Poppins'] font-semibold">
        I Help to Automate and manage 
        <span class="smc-underline-indigo-500 decoration-12">Infrastructure</span>
        </h1>
      <div class="flex sm:mx-auto mx-8 text-sm sm:text-md md:text-lg xl:text-xl max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl ">
      I am 
        <div class="tt mx-1 smc-underline-indigo-500 decoration-2 hover:decoration-4">Meher Chaitanya
          <span class="tt-text tt-pos-top">
            <span class="backdrop-blur bg-gray-100/60 text-indigo-500 smc-underline-indigo-500 decoration-1">
              <a href="#about">#AboutMe</a>
            </span>
          </span>
        </div>
        <span class="hidden sm:inline">
        Cloud Architect, Web Dev
        </span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <h2 class="text-7xl mb-7">Projects</h2>
    <PortfolioPreview project={featuredProject}/>
  </div>

  <Footer />
</body>
</html>

