---
import Hash from '../common/Hash.astro';
---

<section class="flex flex-col px-4 sm:px-16 bg-white dark:bg-white/5 pt-10 border-t-[1px] border-t-zinc-200/40 dark:border-t-zinc-700/60">

  <h2 class="scroll-mt-24 group flex whitespace-pre-wrap text-xl sm:text-2xl font-['Poppins'] mb-6" id="about">
    <span class="mr-2 dark:text-white/90">About Me</span>
    <Hash href="#about"/>
  </h2>
  
  <div class="text-sm md:text-lg decoration-1 flex dark:text-white/75">
    <div class="flex-[2] ">
      <p class="mt-1 mb-2">
        I am Meher Chaitanya, student at 
        <a href="https://uohyd.ac.in" class="smc-underline-indigo-500 dark:decoration-indigo-300 hover:decoration-2" target="_blank">University of Hyderabad</a> 
        pursuing Integrated M.Tech in Computer Sciences. 
        My Field of work includes Cloud Computing with 
        <a href="https://aws.amazon.com" class="smc-underline-indigo-500 dark:decoration-indigo-300 hover:decoration-2" target="_blank">AWS</a>  
        where I design and architect infrastructure for the companies to migrate to cloud by implement and integrating 
        AWS services leading to a hands-free environment.
      </p>

      <p class="mt-1 mb-2">
        Apart from Cloud Computing with AWS, I work with web development as a hobby by exploring new technology 
        (<a href="https://svelte.dev" class="smc-underline-indigo-500 dark:decoration-indigo-300 hover:decoration-2" target="_blank">Svelte</a> 
        is my favourite). I am interested in web designing and creating beautiful websites like this one.
      </p>

      <p class="mt-1 mb-2">
        I am interested in working with technologies like Blockchain, IOT, Networking and Big data in my future
      </p>
    </div>
    <div class="flex justify-center flex-1">
      <img src="/assets/hello.svg" alt="hello">
    </div>
  </div>
</section>
