<div class="flex items-center justify-center h-[80vh] w-screen text-matty-700 dark:text-white">
  <div class="flex flex-col flex-[5] mx-5 sm:mx-auto lg:mx-16 my-6 max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-4xl 2xl:max-w-5xl lg:mt-16">
    <div class="font-['Poppins']">
      <div class="font-mono text-blue-600 dark:text-blue-400 font-regular text-sm">
        Hello, I am
      </div>
      <h1 class="tt font-medium smc-underline-indigo-500 dark:decoration-indigo-300 text-3xl sm:text-2xl lg:text-4xl xl:text-6xl 2xl:text-6xl decoration-2 hover:decoration-4">
        Meher Chaitanya 
        <span class="tt-text tt-pos-bottom">
          <span class="backdrop-blur text-sm bg-matty-100/60 dark:bg-matty-600/80 text-indigo-500 dark:text-indigo-300 smc-underline-indigo-500 dark:decoration-indigo-300 decoration-1">
            <a href="#about">#AboutMe</a>
          </span>
        </span>
      </h1>
      <h1 class="text-lg sm:text-xl lg:text-xl xl:text-2xl 2xl:text-4xl text-matty-600 dark:text-matty-200 font-medium">
        A Creator of interesting products
      </h1>
      <div class="font-['Inter'] mt-4 text-sm sm:text-md lg:text-md xl:text-lg 2xl:text-lg text-matty-500 dark:text-matty-200/90">
        I’m a software developer specialized in building and deploying exceptional digital experiences. Currently, I’m focused on building innovative products with 
        <a href="https://ceoldevs.github.io" class="smc-underline-indigo-500 dark:decoration-indigo-300 hover:decoration-2" target="_blank">#CeolCommunity</a> 
      </div>
    </div>
    <div class="mt-8 text-[0.9rem] font-['Poppins']">
      <button class="bg-blue-600 dark:bg-blue-400 text-white dark:text-matty-800 px-4 py-2 rounded-lg mr-2 cursor-pointer"><a href="/projects">Check out my blogs</a></button>
      <button class="px-4 py-2 rounded cursor-pointer text-blue-600 dark:text-blue-300"><a href="/contact">Contact me &#8594;</a></button>
    </div>
  </div>
  <div class="relative hidden flex-col flex-[4] mr-12 items-center justify-center sm:hidden lg:flex lg:mt-16">
    <img src="/assets/smc_cropped.png" alt="smc">
  </div>
</div>
