---
import Github from "../icons/Github.astro"
---
<div class="px-2 tbl:px-8 lpt:px-12 lpt-lg:mt-10 lpt:mt-12 tbl:mt-0 font-sans tbl:flex tbl:flex-col lpt:grid lpt:grid-cols-9 gap-x-24 lpt:gap-x-14 items-start pt-28 justify-center h-[80vh] w-screen dark:text-white">
  <div class="flex my-6 tbl:col-span-9 lpt:col-span-4 lpt-lg:col-span-4">
    <h1 class="text-4xl tbl:text-5xl lpt-lg:text-7xl lpt:text-6xl font-medium text-matty-900 dark:text-matty-50">
      My only aim is to <span class="text-blue-600">Create</span>
    </h1>
  </div>
  <div class="tbl:col-span-9 lpt:col-span-5 lpt-lg:col-span-5 text-sm mbl-lg:text-base lpt-lg:text-lg pt-8 text-matty-800 dark:text-matty-100 font-thin relative flex-col items-start justify-center">
    Hi 👋. I am A student pursuing Integrated Masters in Computer Science from University of Hyderabad. I enjoy creating solutions with software development and skilled in deploying those applications in industry standard environments with cloud computing and devops
    <div class="mt-14 font-medium flex gap-x-6 gap-y-8 flex-col tbl:flex-row w-full justify-items-center items-center">
      <a class="w-max bg-blue-600 dark:bg-blue-600 text-white dark:text-matty-50 px-6 py-4 lpt-lg:px-10 lpt-lg:py-6 cursor-pointer drop-shadow-[.6rem_.6rem_rgba(0,0,0,1)] dark:drop-shadow-[.6rem_.6rem_rgba(256,256,256,1)] dark:hover:drop-shadow-none hover:drop-shadow-none hover:rounded-2xl transition-all text-md" href="/projects">Projects &#8594;</a>
      <a class="w-max group flex items-center gap-2 dark:text-matty-50 text-matty-900 px-6 py-4 lpt-lg:px-10 lpt-lg:py-6 cursor-pointer text-md hover:text-blue-600 hover:underline transition-all" href="https://github.com/smc181002" target="_blank"> <Github /> Github</a>
    </div>
  </div>
</div>
