---
import Github from "../icons/Github.astro"
---
<div class="min-h-[60vh] pt-24 lpt:w-[60vw] mx-auto px-2 tbl:px-8 lpt-lg:mt-10 lpt:mt-12 tbl:mt-0 font-roboto-flex flex flex-col gap-x-24 lpt:gap-x-4 items-center justify-center dark:text-white">
  <div class="flex my-6">
    <h1 class="font-fraunces text-3xl tbl:text-4xl lpt-lg:text-5xl font-semibold text-matty-900 dark:text-matty-50 text-center">
      The Future is Here, and It's Powered by Computers
    </h1>
  </div>
  <div class="text-sm mbl-lg:text-base lpt-lg:text-lg pt-8 text-matty-800 dark:text-matty-100 text-center relative flex-col items-start justify-center">
    Hi 👋. I am A student pursuing Integrated Masters in Computer Science from University of Hyderabad. I enjoy creating solutions with software development and skilled in deploying those applications in industry standard environments with cloud computing and devops
  </div>
  <div class="mt-14 font-medium flex gap-x-6 gap-y-8 flex-col tbl:flex-row w-full place-content-center items-center">
    <a class="w-max bg-blue-600 dark:bg-blue-600 text-white dark:text-matty-50 border-[.16rem] dark:border-white border-matty-900 px-6 py-4 lpt-lg:px-8 lpt-lg:py-4 cursor-pointer drop-shadow-[.2rem_.2rem_rgba(0,0,0,1)] dark:drop-shadow-[.2rem_.2rem_rgba(256,256,256,1)] dark:hover:drop-shadow-none hover:drop-shadow-none hover:rounded-2xl transition-all text-base" href={import.meta.env.BASE_URL + "projects"}>Projects &#8594;</a>
    <a class="w-max flex gap-2 bg-white dark:bg-matty-900 text-matty-900 dark:text-matty-50 border-[.16rem] dark:border-white border-matty-900 px-6 py-4 lpt-lg:px-8 lpt-lg:py-4 cursor-pointer drop-shadow-[.2rem_.2rem_rgba(0,0,0,1)] dark:drop-shadow-[.2rem_.2rem_rgba(256,256,256,1)] dark:hover:drop-shadow-none hover:drop-shadow-none hover:rounded-2xl transition-all text-base" href="https://github.com/smc181002" target="_blank"> <Github /> Github</a>
    <!-- <a class="w-max group flex items-center gap-2 dark:text-matty-50 text-matty-900 px-6 py-4 lpt-lg:px-8 lpt-lg:py-4 cursor-pointer text-base hover:text-blue-600 hover:underline transition-all" href="https://github.com/smc181002" target="_blank"> <Github /> Github</a> -->
  </div>
</div>
