---
// import Hash from '../common/Hash.astro';

import {extract} from '@extractus/feed-extractor';
import Tag from '../common/Tag.astro';
interface MarkdownFrontmatter {
	publishDate: number;
}

const url = 'https://smc181002.medium.com/feed';

const feed = await extract(url, {
  getExtraEntryFields: (feedEntry) => {
    const {
      category
    } = feedEntry
    return {
      category: category,
    }
  }
})

// let rss2 = await parser.parseUrl('https://smc181002.medium.com/feed');
// console.log(rss2);
const printDate = (date) => {
  let dateOptions:Intl.DateTimeFormatOptions = { dateStyle: 'medium', timeStyle: 'short' };
  return new Date(date).toLocaleString('en-IN', dateOptions);
  
}

---

<section class="mx-auto flex flex-col prose prose-lg dark:prose-invert font-roboto-flex dark:text-white-50">
  <h2 id="blogs" class="font-fraunces">Blogs</h2>
  <div class="flex flex-wrap flex-col">
  {feed.entries.map((item) => (
    <h3 class="font-fraunces">
      <a href={import.meta.env.BASE_URL + item.link} target="_blank">{item.title}</a>
    </h3>
    <div class="font-readable py-2">{printDate(item.published)}</div>
    <div class="flex gap-4 flex-wrap">
      {item.category.map( tag => (
        <Tag>{tag}</Tag>
      ))}
    </div>
  ))}
  </div>
</section>