---
// import Hash from '../common/Hash.astro';

import {extract} from '@extractus/feed-extractor';
interface MarkdownFrontmatter {
	publishDate: number;
}

const url = 'https://smc181002.medium.com/feed';

const feed = await extract(url, {
  getExtraEntryFields: (feedEntry) => {
    const {
      category
    } = feedEntry
    return {
      category: category,
    }
  }
})

// let rss2 = await parser.parseUrl('https://smc181002.medium.com/feed');
// console.log(rss2);
const printDate = (date) => {
  let dateOptions:Intl.DateTimeFormatOptions = { dateStyle: 'medium', timeStyle: 'short' };
  return new Date(date).toLocaleString('en-IN', dateOptions);
  
}

---

<section class="my-20 relative flex flex-col gap-y-8 max-w-full">
  <svg class="absolute h-full" width="54" height="816" viewBox="0 0 54 816" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M41.4814 803.5V43.2407C41.4814 25.9869 27.4945 12 10.2408 12V12C-7.01292 12 -20.9998 25.9869 -20.9998 43.2406V53.7921" stroke="#030F30" stroke-width="24" stroke-linecap="square"/>
  </svg>
  {feed.entries.slice(0,3).map(item => (
    <div class="-translate-x-10 flex items-center group cursor-pointer w-full">
      <svg width="216" height="63" viewBox="0 0 36 63" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.66079e-06 33L194 33" class="stroke-light-primary-10 dark:stroke-dark-primary-90" stroke-width="24" stroke-linecap="square"/>
        <circle cx="0.447533" cy="31.4475" r="23.9994" 
          class="fill-light-bg dark:fill-dark-bg 
          stroke-light-primary-80 group-hover:stroke-light-primary 
          dark:stroke-dark-primary-30 dark:group-hover:stroke-dark-primary" 
          stroke-width="14.8962"
        />
      </svg>
      <a href={item.link} target="_blank" class="-translate-x-3 group-hover:-translate-x-1 transition-all flex flex-col bg-light-container dark:bg-dark-primary-20 w-full px-9 py-6">
        <div class="flex gap-x-6 text-sm text-l-ctr-txt-l dark:text-d-ctr-txt-l">
          <div>24.Jun.2023</div>
          <!--
          <div>5min read</div>
          -->
        </div>
        <h1 class="text-light-container-headings dark:text-dark-container-headings font-semibold my-4 text-5xl">
          {item.title}
        </h1>
      </a>
    </div>
  ))}
  <div class="absolute bottom-0 z-[100] left-1/2 -translate-x-1/2">
    <a href="/blogs" class="z-[100] bg-light-primary-10 text-light-primary-95 dark:text-d-pr-10 dark:bg-d-pr-95 w-max text-center px-8 py-4">
      Show more blogs
    </a>
  </div>
  <div class="pointer-events-none absolute bottom-0 w-full h-20 bg-gradient-to-t from-30% from-light-bg dark:from-dark-bg">
  </div>
</section>
