---
    let name = "Meher Chaitanya";
---

<footer class="w-screen flex mt-8 text-sm items-center backdrop-blur bg-gray-100/60 px-4 py-2">
  <div class="flex-1">
    &copy; {new Date().getFullYear()} {name}
  </div>
  <div>
    <a href="mailto:meherchaitanya18802@gmail.com" class="pr-4 smc-underline-indigo-500 hover:decoration-2">Contact</a>
  </div>
</footer>
