<div class="flex items-center justify-center h-screen w-screen">
  <div class="flex flex-col flex-[5] ">
    <h1 class="sm:mx-auto lg:mx-16 my-6 text-xl sm:text-2xl lg:text-3xl xl:text-4xl 2xl:text-6xl max-w-md md:max-w-lg lg:max-w-2xl xl:max-w-4xl 2xl:max-w-5xl font-['Poppins'] font-medium">
      Hello, I am<div class="tt smc-underline-indigo-500 decoration-2 hover:decoration-4">Meher Chaitanya 
        <span class="tt-text tt-pos-bottom">
          <span class="backdrop-blur text-sm bg-gray-100/60 text-indigo-500 smc-underline-indigo-500 decoration-1">
            <a href="#about">#AboutMe</a>
          </span>
        </span>
      </div>
      Devops Engineer based in India. 
      I Work with AWS cloud and implement Devops practices  
    </h1>
    <div class="lg:mx-16 font-size-md">
      <button class="bg-blue-500 text-white px-4 py-2 rounded mr-2 cursor-pointer"><a href="/projects">Blogs</a></button>
      <button class="px-4 py-2 rounded cursor-pointer"><a href="/contact">Contact me &#8594;</a></button>
    </div>
  </div>
  <div class="relative hidden flex-col flex-[4] mr-12 items-center justify-center sm:hidden md:flex">
    <img src="/assets/smc_cropped.png" alt="">
  </div>
</div>