<div class="flex flex-col items-center justify-center h-screen w-screen">
  <div>
    <h1 class="sm:mx-auto mx-4 my-6 text-4xl sm:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl font-['Poppins'] font-semibold">
      I Help to Automate and manage 
      <span class="smc-underline-indigo-500 decoration-12">Infrastructure</span>
      </h1>
    <div class="flex sm:mx-auto mx-4 text-sm sm:text-md md:text-lg xl:text-xl max-w-lg md:max-w-xl lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl ">
    Hi, I am 
      <div class="tt mx-1 smc-underline-indigo-500 decoration-2 hover:decoration-4">Meher Chaitanya 
        <span class="tt-text tt-pos-top">
          <span class="backdrop-blur bg-gray-100/60 text-indigo-500 smc-underline-indigo-500 decoration-1">
            <a href="#about">#AboutMe</a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
