---
const {active} = Astro.props;
const actionsList = [
  {name: 'Home', path: '/'},
  {name: 'Projects', path: '/projects'},
  {name: 'Contact', path: '/contact'},
]

let hover = " hover:underline hover:decoration-4 transition-all hover:decoration-indigo-500 hover:underline-offset-2 ";
function activeHighlight(action) {
  return (active == action.path) ? "underline decoration-2 decoration-indigo-500 underline-offset-2 text-zinc-700 font-medium" : "";
}
---

<div class="font-[VT323] z-[10000] w-full flex-none bg-[#ae1200] text-[#cfbc00] text-center">
  So long nerds
</div>
<nav class="py-6 z-[10000] w-full backdrop-blur flex-none bg-white/80 supports-backdrop-blur:bg-white/50 border-b-[1px] border-b-zinc-900/10">
  <div class="flex mx-auto px-4 sm:px-16 w-full items-center text-center">
    <div class="flex items-center flex-1"> 
      <img 
        src="/assets/logo.svg" 
        alt="logo" 
        class="w-[24px] sm:w-[32px]"> 
      <span class="ml-4 text-zinc-900 font-['Poppins'] md:inline hidden">Meher Chaitanya</span> 
    </div>
    <div>
      <div class="text-gray-800 font-['Poppins'] flex items-center">
        {actionsList.map( (action) => (
          <a 
            class={activeHighlight(action) + hover + "sm:mx-2 px-2 text-sm sm:text-lg text-zinc-600"} 
            href={action.path}>
            {action.name}
          </a>
        ))}
        <a 
          class="sm:mx-2 px-2 text-lg flex items-center" 
          href="https://github.com/smc181002">
          <img 
            src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" 
            width="24px" 
            alt="GitHub" />
        </a>
      </div>
    </div>
  </div>
</nav>
