---
const {link, img=""} = Astro.props;
---

<span class="inline items-center shadow bg-white dark:bg-white/20 mx-1 rounded py-1 px-2 fit-content text-sm ring-1 ring-zinc-400/40 dark:ring-zinc-200/40 dark:text-white" href={link}>
  {(img) ? <img src={img} alt={img} class="inline w-6 h-6 mr-2"/>: <></>}<slot></slot>
</span>