---
const {draft} = Astro.props;
---
{draft &&

<div class="z-[10] fixed bottom-0 w-screen flex flex-col h-screen"> 
  <div class="flex-1 backdrop-blur bg-white/80 dark:bg-matty-900/80"> </div>
  <div class="flex justify-center items-center z-[10000] w-full py-2 bg-amber-200 text-amber-700 text-center">
      This blog is still in a draft state
  </div>
</div>
}