---
    let name = "Meher Chaitanya";
---

<footer class="flex text-sm items-center backdrop-blur bg-zinc-100/60 dark:bg-zinc-700 dark:text-zinc-50 px-4 py-2">
  <div class="flex-1">
    &copy; {new Date().getFullYear()} {name}
  </div>
  <div>
    <a href="mailto:meherchaitanya18802@gmail.com" class="pr-4 smc-underline-indigo-500 hover:decoration-2">Contact</a>
  </div>
</footer>
