---
import Logo from '../icons/Logo.astro';
import Techno from './Techno.svelte';
const {active} = Astro.props;
const actionsList = [
  {name: 'Projects', path: 'projects'},
  {name: 'Resume', path: 'resume'},
  {name: 'Contact', path: 'contact'},
]

// let hover = " hover:underline hover:decoration-4 transition-all hover:decoration-indigo-500 dark:decoration-indigo-300 hover:underline-offset-2 ";
let hover = "  ";
function activeHighlight(action) {
  // return (active == action.path) ? "underline decoration-2 decoration-indigo-500 dark:decoration-indigo-300 underline-offset-2 text-matty-700 font-medium " : "";
  return (active == action.path) ? " text-indigo-500 dark:text-blue-200 " : "text-matty-900 dark:text-matty-50 ";
}
---

<Techno />

<div class="top-20 right-8 absolute flex bg-neutral-20 text-neutral-90 dark:bg-dark-primary-95 dark:text-neutral-10 border-4 border-light-bg dark:border-dark-bg rounded-full">
  <div class="theme-toggle flex">
    <div class="flex">
      <input type="radio" id="light" name="theme-toggle" value="light" class="peer hidden" aria-label="Use light theme">
      <label for="light" title="Use light theme" class="cursor-pointer peer-checked:hidden flex items-center">
        <span class="material-symbols-rounded  px-4 py-2"> light_mode </span>
      </label>
    </div>

    <div class="flex">
      <input type="radio" id="dark" name="theme-toggle" value="dark" class="peer hidden" aria-label="Use dark theme">
      <label for="dark" title="Use dark theme" class="cursor-pointer peer-checked:hidden flex items-center">
        <span class="material-symbols-rounded px-4 py-2"> dark_mode </span>
      </label>
    </div>
  </div>
</div>

<nav class="font-sans bg-light-bg dark:bg-dark-bg text-light-headings dark:text-dark-headings flex flex-row font-normal text-sm py-0 tbl:px-10 px-4 justify-between items-center">
  <a href="/" class="text-light-primary dark:text-dark-headings flex flex-row items-center gap-x-2">
    <Logo/>
    <!-- <span class="lpt:block hidden">
      @smc181002
    </span> -->
  </a>
  <ul class="flex mbl-lg:gap-x-6 gap-x-5 font-semibold ">
    <li>
      <a href="/blogs">
        Blogs
      </a>
    </li>
    <li>
      <a href="/works">
        Work
      </a>
    </li>
    <li>
      <a href="/about">
        About
      </a>
    </li>
  </ul>
  <a href="/contact" class="font-semibold">
    Contact
  </a>
</nav>

<script is:inline>
  // localStorage.theme = 'light'
  const checkTheme = () => {
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
      document.getElementById('dark').checked = true
      document.getElementById('light').checked = false
    } else {
      document.documentElement.classList.remove('dark')
      document.getElementById('light').checked = true
      document.getElementById('dark').checked = false
    }
  }

  checkTheme()

  document.getElementById('dark').addEventListener("click", () => {
    localStorage.theme = 'dark'
    checkTheme()
  })

  document.getElementById('light').addEventListener("click", () => {
    localStorage.theme = 'light'
    checkTheme()
  })

</script>
