---
import MainHead from '../components/common/MainHead.astro';
import Footer from '../components/common/Footer.astro';
import Nav from '../components/common/Nav.astro';

const { content } = Astro.props;

---

<html lang='en'>
  <head>
    <MainHead title={content.title} description={content.description} />
  </head>
  <body class="dark:bg-matty-800">
        <div class="z-[100] fixed w-screen ">
  <Nav active="/blogs"/>
    </div>
    <div class="flex flex-col min-h-screen">
    
    <div class="mx-auto prose-lg prose-matty prose-p:text-matty-700 dark:prose-p:text-matty-200 dark:prose-headings:text-white prose-code:font-mono prose-table:w-full prose-table:text-matty-600 dark:prose-table:text-matty-200 prose-table:border-collapse prose-table:table-auto prose-th:text-left prose-th:border prose-td:border prose-th:border-matty-100 dark:prose-th:border-matty-800 prose-td:border-matty-100 dark:prose-td:border-matty-800 prose-th:p-4 prose-th:bg-matty-100/60 dark:prose-th:bg-matty-800 prose-td:p-4 prose-td:bg-matty-200/10 dark:prose-td:bg-matty-800/60 pt-20 flex-1 px-16 w-full">
    <img src={content.img} class="object-cover rounded-[4rem] mt-8 h-96 min-w-full" />
        <h1 class="py-4 font-medium font-['Poppins']">
      {content.title}
        </h1>
        <div class="font-['Inter'] ">
          <slot />
        </div>
            </div>
            <div>
                <Footer />
            </div>
        </div>
  </body>
</html>
