---
import Footer from '../components/common/Footer.astro';
import MainHead from '../components/common/MainHead.astro';
import Nav from '../components/common/Nav.astro';

const {
    title="Meher Chaitanya - Home", 
    description="Meher Chaitanya: Cloud Architect, Web developer...",
    imageUrl = "/assets/smc.png",
    active="/"
} = Astro.props;
---

<html lang="en" class="scroll-smooth scroll-pt-24">
<head>
    <MainHead title={title} description={description} imageUrl={imageUrl}/>
</head>
<body class="bg-light-bg dark:bg-dark-bg text-normal text-light-text dark:text-dark-text font-sans overflow-x-hidden">
  <div class="z-[100] fixed w-screen">
    <Nav active={active}/>
  </div>
    <slot></slot>
    <Footer />
</body>
</html>

